<%fillings = ["carnitas","al pastor", "steak", "pescado", "chicken"]%>

<hl>I love tacos!</hl>

<p>There are <%=fillings.length %> tacos</p>

<ul>
  <% for filling in fillings%>
  <li> <%=filling%> </li>
  <%end%>
</ul>